<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" id="username" name="username" placeholder="Enter username"> </br> </br>
        <textarea id="content" name="content" id="" cols="30" rows="10"></textarea> <br>
        <button>Post</button>
    </form> <br>
    <button id="quote">Fill Quotes</button> 
    <script src="./app.js"></script>
</body>
</html>