<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View post</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>View your post:</h1>
    <p>id: <%=post.id%></p>
    <div class="post">
        <h3 class="user"> @<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
    </div>
    <form method="GET" action="/">
        <button id=>All Posts</button>

    </form>
</body>
</html>